.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-lg;

  @include respond-to(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-to(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
